body{
    background-image: url(img/digital-art-dark-cosmic-night-sky.jpg);
}
#logo{
    width: 100%;
    background-color: #485b3b;
    height: 50px;
    color: #ffffff;
    text-align: center;
    font-size: 20px;
}
#container{

    margin-left: auto;
    margin-right: auto;
    width: 900px;
}
#spis{
    margin: 10px;
}
.slajd{
    margin: 10px;
}
#footer{
    width: 100%;
}